body {
  margin: 0;
  font-family: Arial;
  background: #0b1220;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #111;
}

.hero {
  text-align: center;
  padding: 100px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  padding: 40px;
}

.project-card {
  background: #1f2937;
  padding: 20px;
  border-radius: 10px;
}

.stats {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 40px;
  gap: 20px;
}

.stat-card {
  background: #1f2937;
  padding: 20px;
  text-align: center;
}

.fade {
  opacity: 0;
  transform: translateY(20px);
  transition: 0.6s;
}

.fade.show {
  opacity: 1;
  transform: translateY(0);
}
